<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.notepad">

    <!-- 表明该应用需要使用网络请求，需要用户允许才能使用 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 获取手机外部存储读取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/title_activity_index"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.ChangeCityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.ModifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.CreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.LogManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.ThisMeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".index.PrivacyActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>